.apptitle {
	FONT-WEIGHT: bold; FONT-SIZE: 130%; COLOR: #000000; TEXT-DECORATION: none
}
.apptitlechild {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: #003333; POSITION: relative; TOP: 4px; TEXT-DECORATION: none
}
.apphinavpeer {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
.apphinavchild {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
.apphinavinactive {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #666666; TEXT-DECORATION: none
}
.apphinavchildlink {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: underline
}
.appnavbutton {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #000000; TEXT-DECORATION: none
}
A.appnavbutton:link {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #000000; TEXT-DECORATION: none
}
A.appnavbutton:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #000000; TEXT-DECORATION: none
}
.appnavbuttoninactive {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #666666; TEXT-DECORATION: none
}
A.appnavbuttoninactive:link {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #666666; TEXT-DECORATION: none
}
A.appnavbuttoninactive:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #666666; TEXT-DECORATION: none
}
.appnavbuttonalt {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #000000; TEXT-DECORATION: none
}
A.appnavbuttonalt:link {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #000000; TEXT-DECORATION: none
}
A.appnavbuttonalt:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #000000; TEXT-DECORATION: none
}
.appnavbuttonlink {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.appnavbuttonlink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.appnavbuttonlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #ffffff; TEXT-DECORATION: underline
}
.appnavcurrent {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #000000; TEXT-DECORATION: none
}
A.appnavcurrent:link {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #000000; TEXT-DECORATION: none
}
A.appnavcurrent:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #000000; TEXT-DECORATION: none
}
.appnavtext {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
A.appnavtext:link {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
A.appnavtext:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
.appnavtextalt {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #003399; TEXT-DECORATION: none
}
.appnavtextalt {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #003399; TEXT-DECORATION: none
}
.appnavlink {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; COLOR: #003399; TEXT-DECORATION: underline
}
A.appnavlink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; COLOR: #003399; TEXT-DECORATION: underline
}
A.appnavlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; COLOR: #003399; TEXT-DECORATION: underline
}
.applink {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #003399; TEXT-DECORATION: underline
}
A.applink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #003399; TEXT-DECORATION: underline
}
A.applink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #003399; TEXT-DECORATION: underline
}
.applabel {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
A.applabel:link {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
A.applabel:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
.apptitlerevlink {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.apptitlerevlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.apptitlerevlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #ffffff; TEXT-DECORATION: underline
}
.tablebutton {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
A.tablebutton:link {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
A.tablebutton:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; COLOR: #000000; TEXT-DECORATION: none
}
.apps_tablecolor {
	BACKGROUND-COLOR: #669999
}
.apps_tableheader {
	BACKGROUND-COLOR: #336666
}
.apps_buttonprev {
	BACKGROUND-COLOR: #669999
}
.apps_button_top {
	BACKGROUND-COLOR: #99cccc
}
.apps_button_btm {
	BACKGROUND-COLOR: #003333
}
.apps_buttonnext {
	BACKGROUND-COLOR: #cccccc
}
.appstablecolor {
	BACKGROUND-COLOR: #669999
}
.appstablecolornav {
	BACKGROUND-COLOR: #669999
}
.appstablecolorinactive {
	BACKGROUND-COLOR: #999999
}
.appstablecoloralt {
	BACKGROUND-COLOR: #336666
}
.appstablecolorsecondary {
	BACKGROUND-COLOR: #99cccc
}
.appstablecolortertiary {
	BACKGROUND-COLOR: #cccccc
}
.appstableheader {
	BACKGROUND-COLOR: #336666
}
.appsbuttonprev {
	BACKGROUND-COLOR: #669999
}
.appsbuttontop {
	BACKGROUND-COLOR: #99cccc
}
.appsbuttonbtm {
	BACKGROUND-COLOR: #003333
}
.appsbuttonnext {
	BACKGROUND-COLOR: #cccccc
}
.status {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
.statusalt {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
.statusheader {
	FONT-WEIGHT: bold; COLOR: #336666; TEXT-DECORATION: none
}
.statusheaderalt {
	FONT-WEIGHT: bold; COLOR: #990000; TEXT-DECORATION: none
}
.moduleTitleRev {
	FONT-SIZE: 90%
}
.moduletitlerev {
	FONT-SIZE: 90%
}
.moduleContent {
	FONT-SIZE: 90%
}
.modulecontent {
	FONT-SIZE: 90%
}
.tools {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #ffffff; TEXT-DECORATION: none
}
A.tools:link {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #ffffff; TEXT-DECORATION: none
}
A.tools:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #ffffff; TEXT-DECORATION: none
}
.toolslinks {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.toolslinks:link {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.toolslinks:visited {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: underline
}
.toolsinactive {
	FONT-WEIGHT: normal; COLOR: #999999; TEXT-DECORATION: none
}
A.toolsinactive:link {
	FONT-WEIGHT: normal; COLOR: #999999; TEXT-DECORATION: none
}
A.toolsinactive:visited {
	FONT-WEIGHT: normal; COLOR: #999999; TEXT-DECORATION: none
}
