BODY {
	FONT-SIZE: 11px; MARGIN: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dae6e6
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #669999; FONT-FAMILY: arial, helvetica, sans-serif
}
#application_top {
	BORDER-TOP: #dae6e6 1px solid; BACKGROUND-COLOR: #7f7f7f
}
#application_top TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
#application_top .user {
	MARGIN-LEFT: 39px; COLOR: #999999
}
#application_top H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 17px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 39px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#application_top LABEL {
	COLOR: #ffffff
}
#application_top A {
	COLOR: #326a6a; TEXT-DECORATION: none
}
UL#breadcrumbs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 39px; PADDING-TOP: 0px
}
#breadcrumbs LI {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: 0px 50%; DISPLAY: inline; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/icons/inc_breadarrow.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
#breadcrumbs LI.first {
	PADDING-LEFT: 0px; BACKGROUND-IMAGE: none
}
#breadcrumbs LI A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
UL#tertiary_nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 39px; WIDTH: 960px; PADDING-TOP: 0px; HEIGHT: 28px
}
#tertiary_nav LI {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: 0px 50%; DISPLAY: inline; PADDING-LEFT: 12px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/icons/icn_teriaryLine.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #aaaaaa; LINE-HEIGHT: 28px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; ist-style-type: none
}
#tertiary_nav LI.first {
	PADDING-LEFT: 0px; BACKGROUND-IMAGE: none
}
#tertiary_nav LI A {
	COLOR: #777777; TEXT-DECORATION: none
}
#tertiary_nav LI A.active {
	FONT-WEIGHT: bold; COLOR: #9c0000; TEXT-DECORATION: none
}
#application_nav {
	BACKGROUND-COLOR: #dae6e6
}
#application_area {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 30px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dae6e6
}
#moduleContainerId {
	WIDTH: 980px
}
.marque {
	BORDER-RIGHT: #7f7f7f 1px solid; PADDING-BOTTOM: 0px; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid
}
DIV.mod_header {
	BACKGROUND-IMAGE: url(../images/global/module/mod_head_lt.gif); WIDTH: 100%; LINE-HEIGHT: 26px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 26px; BACKGROUND-COLOR: #699
}
DIV.mod_header IMG.mh_expand {
	FLOAT: left; MARGIN: 4px 0px 0px 5px
}
DIV.mod_header IMG.mh_refresh {
	FLOAT: left; MARGIN: 6px 35px 0px 0px
}
DIV.mod_header .mh_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; WIDTH: 235px; COLOR: #fff; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
DIV.mod_header .mh_title SPAN {
	FONT-WEIGHT: normal
}
DIV.mod_header .mh_filter {
	FLOAT: left
}
DIV.mod_header .mh_action {
	FLOAT: right; MARGIN-RIGHT: 10px
}
DIV.mod_header .mh_info {
	FLOAT: right; MARGIN-RIGHT: 10px
}
DIV.mod_header .mh_page {
	FLOAT: right; MARGIN-RIGHT: 5px
}
DIV.mod_header IMG {
	CURSOR: pointer
}
DIV.mod_header A {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
DIV.mod_header TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; COLOR: #fff; LINE-HEIGHT: 26px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
DIV.inline_mod_header {
	WIDTH: 100%; COLOR: #669999; LINE-HEIGHT: 27px; PADDING-TOP: 3px; BORDER-BOTTOM: #7f7f7f 1px solid; HEIGHT: 27px
}
DIV.inline_mod_header .mh_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px 3px; WIDTH: 235px; COLOR: #9c0000; LINE-HEIGHT: 12px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
DIV.inline_mod_header .mh_filter {
	FLOAT: left
}
DIV.inline_mod_header .mh_action {
	FLOAT: right; MARGIN-RIGHT: 50px
}
DIV.inline_mod_header .mh_info {
	FLOAT: right; MARGIN-RIGHT: 10px
}
DIV.inline_mod_header .mh_page {
	FLOAT: right; MARGIN-RIGHT: 5px
}
DIV.moduleDisplayBlock {
	MARGIN-LEFT: 11px; BACKGROUND-COLOR: #ffffff
}
DIV.moduleDisplayBlock H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #9c0000; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV.moduleDisplayBlock H3 IMG {
	MARGIN-RIGHT: 5px
}
DIV.moduleDisplayBlock H3 SPAN {
	FONT-WEIGHT: normal; COLOR: #777777
}
DIV.moduleDisplayBlock H2 SPAN {
	FONT-WEIGHT: normal; COLOR: #777777
}
DIV.moduleDisplayBlock .alert {
	PADDING-LEFT: 20px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/icons/icn_fail_yellow.gif); WIDTH: 14px; COLOR: red; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 14px
}
DIV.moduleDisplayBlock H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #669999; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV.moduleDisplayBlock H4 IMG {
	MARGIN-RIGHT: 5px
}
DIV.moduleDisplayBlock H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #669999; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV.moduleDisplayBlock H5 IMG {
	MARGIN-RIGHT: 5px
}
DIV.button_block {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 35px; FLOAT: right; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_triangle_left.gif); MARGIN-BOTTOM: 10px; WIDTH: 640px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px; BACKGROUND-COLOR: #ffffff
}
TABLE.primary_enabled {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 4px; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; HEIGHT: 20px
}
TABLE.primary_enabled .button {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_primary_md.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 100%; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 20px
}
TABLE.primary_enabled .button_left {
	BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_primary_lf.gif); WIDTH: 12px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.primary_enabled .button_right {
	BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_primary_rt.gif); WIDTH: 12px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.primary_disabled {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 4px; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; HEIGHT: 20px
}
TABLE.primary_disabled .button {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_disabled_md.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 100%; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 20px
}
TABLE.primary_disabled .button_left {
	BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_disabled_lf.gif); WIDTH: 12px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.primary_disabled .button_right {
	BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_disabled_rt.gif); WIDTH: 12px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.secondary_enabled {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 4px; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; HEIGHT: 20px
}
TABLE.secondary_enabled .button {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_secondary_md.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 100%; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 20px
}
TABLE.secondary_enabled .button_left {
	BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_secondary_lf.gif); WIDTH: 12px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.secondary_enabled .button_right {
	BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_secondary_rt.gif); WIDTH: 12px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.secondary_disabled {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 4px; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; HEIGHT: 20px
}
TABLE.secondary_disabled .button {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_disabled_md.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 100%; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 20px
}
TABLE.secondary_disabled .button_left {
	BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_disabled_lf.gif); WIDTH: 12px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.secondary_disabled .button_right {
	BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_disabled_rt.gif); WIDTH: 12px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.tertiary_enabled {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; HEIGHT: 14px
}
TABLE.tertiary_enabled .button {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_tertiary_md.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 100%; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 14px
}
TABLE.tertiary_enabled .button_left {
	BACKGROUND-POSITION: 0px 50%; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_tertiary_lf.gif); WIDTH: 7px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TABLE.tertiary_enabled .button_right {
	BACKGROUND-POSITION: 0px 50%; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/buttons/btn_tertiary_rt.gif); WIDTH: 7px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
.inline_button {
	FONT-SIZE: 11px; MARGIN: 0px 10px 0px 0px; COLOR: #669999; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.inline_button INPUT {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-LEFT: 3px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.inline_buttonAlt {
	FONT-SIZE: 11px; MARGIN: 0px 50px 0px 0px; COLOR: #669999; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
DIV.inline_tertiary {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 15px
}
.inline {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.display_false {
	DISPLAY: none
}
.display_true {
	
}
INPUT {
	FONT-SIZE: 10px
}
SELECT {
	FONT-SIZE: 10px; LINE-HEIGHT: 10px
}
LABEL {
	COLOR: #669999
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: arial, helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 10px; FONT-FAMILY: arial, helvetica, sans-serif
}
.inputTextXSmall {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputTextSmall {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputTextSM {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputTextMedium {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputTextMMedium {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputText {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputTextLarge {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputTextXLarge {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputTextVLarge {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.inputTextFile {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.listBox {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.listBoxSm {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.textArea {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.textAreaSmall {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.textAreaXSmall {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 7px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND-COLOR: #ffffff
}
.listBox {
	PADDING-RIGHT: 8px; OVERFLOW-X: hidden; PADDING-BOTTOM: 5px; OVERFLOW: auto; PADDING-TOP: 5px; HEIGHT: 90px
}
.listBox SPAN INPUT {
	MARGIN: 0px 4px
}
.listBox TABLE {
	BORDER-COLLAPSE: collapse
}
.listBox TABLE TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.listBox TABLE TR TD INPUT {
	MARGIN: 0px 4px
}
.listBoxSm {
	PADDING-RIGHT: 8px; OVERFLOW-X: hidden; PADDING-BOTTOM: 5px; OVERFLOW: auto; PADDING-TOP: 5px; HEIGHT: 35px
}
.listBoxSm SPAN INPUT {
	MARGIN: 0px 4px
}
.listBoxSm TABLE {
	BORDER-COLLAPSE: collapse
}
.listBoxSm TABLE TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.listBoxSm TABLE TR TD INPUT {
	MARGIN: 0px 4px
}
.inputTextXSmall {
	WIDTH: 25px
}
SELECT.inputTextXSmall {
	WIDTH: 30px
}
.inputTextSmall {
	WIDTH: 30px
}
SELECT.inputTextSmall {
	WIDTH: 35px
}
.inputTextSM {
	WIDTH: 44px
}
SELECT.inputTextSM {
	WIDTH: 49px
}
.inputTextMedium {
	WIDTH: 78px
}
.inputTextMMedium {
	WIDTH: 84px
}
SELECT.inputTextMedium {
	WIDTH: 83px
}
.inputText {
	WIDTH: 100px
}
SELECT.inputText {
	WIDTH: 105px
}
.inputTextLarge {
	WIDTH: 140px
}
SELECT.inputTextLarge {
	WIDTH: 145px
}
.inputTextXLarge {
	WIDTH: 180px
}
SELECT.inputTextXLarge {
	WIDTH: 185px
}
.inputTextVLarge {
	WIDTH: 220px
}
SELECT.inputTextVLarge {
	WIDTH: 225px
}
.inputTextFile {
	WIDTH: 280px
}
SELECT.inputTextFile {
	WIDTH: 285px
}
.textArea {
	WIDTH: 220px
}
.textAreaSmall {
	WIDTH: 185px
}
.textAreaXSmall {
	WIDTH: 140px
}
.checkbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 12px; PADDING-TOP: 0px; HEIGHT: 12px
}
.select {
	WIDTH: auto
}
.radio {
	MARGIN: 0px 4px
}
TABLE.mod_grid_head INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.mod_grid_content INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.mod_grid_head TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.mod_grid_content TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.mod_grid_head SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.mod_grid_content SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sub_button_block {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.sub_block_hr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 0px; BORDER-BOTTOM: #7f7f7f 1px solid
}
.sub_block_hr_nopad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #7f7f7f 1px solid
}
.sub_block {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.table_marque {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid
}
.table_mod_header {
	WIDTH: 100%; LINE-HEIGHT: 26px; BORDER-BOTTOM: #cfcfcf 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #699
}
.table_mod_header .mh_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; WIDTH: 235px; COLOR: #fff; LINE-HEIGHT: 26px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.table_mod_header .mh_info {
	FLOAT: right; MARGIN-RIGHT: 10px
}
.table_mod_header .mh_page {
	MARGIN-TOP: 2px; FLOAT: right; MARGIN-RIGHT: 5px
}
.mod_header A {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
.table_mod_header A {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
.mod_header TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; COLOR: #fff; LINE-HEIGHT: 26px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.table_mod_header TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 20px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.mod_head {
	BACKGROUND-COLOR: #a1a1a1; TEXT-ALIGN: left
}
.mod_grid_xsm {
	OVERFLOW: auto; HEIGHT: 77px
}
.mod_grid_sm {
	OVERFLOW: auto; HEIGHT: 154px
}
.mod_grid_med {
	OVERFLOW: auto; HEIGHT: 306px
}
.mod_grid_mm {
	OVERFLOW: auto; HEIGHT: 406px
}
.mod_grid_lg {
	OVERFLOW: auto; HEIGHT: 500px
}
.mod_totals {
	BORDER-RIGHT: #7f7f7f 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #e7e7e7
}
.mod_info {
	BACKGROUND-COLOR: #dae6e6
}
.mod_info2 {
	BACKGROUND-COLOR: #ffffff
}
.mod_feedback_sm {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/global/module/img_inlineTable_rt.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #e9e9e9
}
DIV.mod_feedback_sm H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #669999; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TABLE.vert_pad TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE TD.readonly {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE TD.greyedtxt {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; COLOR: #777777; PADDING-TOP: 4px
}
TABLE TD.highlighttxt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; COLOR: #9c0000; PADDING-TOP: 4px
}
TABLE.mod_grid_head {
	TABLE-LAYOUT: fixed
}
TABLE.mod_grid_head TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cfcfcf 1px solid; COLOR: #ffffff; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a1a1a1
}
TABLE.mod_grid_head TH.active {
	BACKGROUND-COLOR: #326a6a
}
TABLE.mod_grid_head TH A {
	COLOR: #ffffff
}
TABLE.mod_grid_head TD.nav {
	FONT-WEIGHT: bold; COLOR: #a1a1a1
}
TABLE.mod_grid_head TD.nav A {
	FONT-WEIGHT: bold; COLOR: #a1a1a1
}
TABLE.mod_grid_content {
	TABLE-LAYOUT: fixed
}
TABLE.mod_grid_content TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cfcfcf 1px solid; COLOR: #000000; PADDING-TOP: 3px; FONT-FAMILY: arial, helvetica, sans-serif
}
TABLE.mod_grid_content TD A {
	COLOR: #326a6a
}
TABLE.mod_grid_content TD.first {
	BORDER-LEFT: medium none
}
TABLE.mod_grid_head TH.first {
	BORDER-LEFT: medium none
}
TABLE.mod_grid_content TD.sub_table {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.mod_grid_content TR.active TD {
	BACKGROUND-POSITION: 0px 0px; BACKGROUND-IMAGE: url(../images/global/module/img_activeRowStrips.gif); BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-REPEAT: repeat-x
}
DIV.mod_totals TABLE.mod_grid_content TD {
	BORDER-RIGHT: medium none; BORDER-LEFT: medium none
}
DIV.mod_info TABLE.mod_grid_content TD {
	BORDER-RIGHT: medium none; FONT-WEIGHT: normal; BORDER-LEFT: medium none; COLOR: #326a6a
}
DIV.mod_info2 TABLE.mod_grid_content TD {
	BORDER-RIGHT: medium none; FONT-WEIGHT: normal; BORDER-LEFT: medium none; COLOR: #326a6a
}
DIV.mod_info TABLE.mod_grid_content TD.active {
	BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid
}
DIV.mod_info TABLE.mod_grid_content TD.active_right {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid; TEXT-ALIGN: right
}
DIV.mod_info2 TABLE.mod_grid_content TD.active {
	BORDER-LEFT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid
}
DIV.mod_info2 TABLE.mod_grid_content TD.active_right {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-BOTTOM: #7f7f7f 1px solid; TEXT-ALIGN: right
}
TABLE.mod_grid_content TR.watermelon {
	BACKGROUND-COLOR: #e7e7e7
}
TABLE.mod_grid_content TBODY {
	BORDER-LEFT-COLOR: #cfcfcf; BORDER-BOTTOM-COLOR: #cfcfcf; BORDER-TOP-COLOR: #cfcfcf; BORDER-RIGHT-COLOR: #cfcfcf
}
TABLE.mod_grid_content IMG {
	CURSOR: pointer
}
.sort_d_1 {
	BACKGROUND-POSITION: 98% 50%; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/icons/icn_tbl_sortingarrow.gif); BACKGROUND-REPEAT: no-repeat
}
.sort_a_1 {
	BACKGROUND-POSITION: 98% 50%; BACKGROUND-IMAGE: url(../images/global/buttons_and_icons/icons/icn_tbl_sortingarrow_o.gif); BACKGROUND-REPEAT: no-repeat
}
.status_temp {
	COLOR: #ff9900
}
.status_actual {
	COLOR: #3366ff
}
.units {
	COLOR: #999999
}
.status {
	COLOR: #9c0000
}
A.icon_m {
	TEXT-ALIGN: center
}
A.icon_m IMG {
	VERTICAL-ALIGN: middle
}
A.icon_b {
	TEXT-ALIGN: right
}
A.icon_b IMG {
	VERTICAL-ALIGN: bottom
}
.level1indent {
	PADDING-LEFT: 5px
}
.level2indent {
	PADDING-LEFT: 10px
}
.level3indent {
	PADDING-LEFT: 15px
}
.level4indent {
	PADDING-LEFT: 20px
}
.level5indent {
	PADDING-LEFT: 25px
}
.level6indent {
	PADDING-LEFT: 30px
}
DIV.module_tabs {
	MARGIN-TOP: 10px
}
DIV.module_tabs TD {
	BACKGROUND-IMAGE: url(../images/global/tabs/default/tab_middle_normal.gif); BACKGROUND-REPEAT: repeat-x
}
DIV.module_tabs TD.active {
	BACKGROUND-IMAGE: url(../images/global/tabs/default/tab_middle_selected.gif); BACKGROUND-REPEAT: repeat-x
}
DIV.module_tabs A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003031; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV.module_tabs A SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.module_tabs TD.active A {
	COLOR: #9c0000
}
DIV.module_tabs A:hover {
	TEXT-DECORATION: none
}
DIV.module_tabs_primary {
	MARGIN-TOP: 10px
}
DIV.module_tabs_primary TD {
	BACKGROUND-IMAGE: url(../images/global/tabs/ongreen/tab_middle_normal.gif); BACKGROUND-REPEAT: repeat-x
}
DIV.module_tabs_primary TD.active {
	BACKGROUND-IMAGE: url(../images/global/tabs/ongreen/tab_middle_selected.gif); BACKGROUND-REPEAT: repeat-x
}
DIV.module_tabs_primary A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003031; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV.module_tabs_primary A SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.module_tabs_primary TD.active A {
	COLOR: #9c0000
}
DIV.module_tabs_primary A:hover {
	TEXT-DECORATION: none
}
.float_right {
	FLOAT: right
}
DIV.header_grey {
	BACKGROUND-COLOR: #dedddd
}
TABLE.super_grid {
	BORDER-TOP: #cfcfcf 1px solid; BORDER-LEFT: #cfcfcf 1px solid
}
TABLE.super_grid TH {
	BORDER-RIGHT: #cfcfcf 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #cfcfcf 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 20px; BACKGROUND-COLOR: #a1a1a1
}
TABLE.super_grid TD {
	BORDER-RIGHT: #cfcfcf 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #cfcfcf 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TABLE.super_grid TD.no_padding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.super_grid TABLE.no_borders TD {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
TABLE.super_grid TABLE.no_borders {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
TABLE.super_grid .sort_d_1 {
	PADDING-RIGHT: 10px
}
TABLE.super_grid .sort_a_1 {
	PADDING-RIGHT: 10px
}
TABLE.super_grid TD.vertical_rule {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 3px; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #9c0000
}
TABLE.super_grid TH.vertical_rule {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 3px; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #9c0000
}
TABLE.super_grid TH.active {
	BACKGROUND-COLOR: #326a6a
}
TABLE.super_grid TH A {
	FONT-WEIGHT: normal; COLOR: #ffffff
}
.scroll_box {
	BORDER-TOP: #b9b9b9 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
DIV.scroll_box TD {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; HEIGHT: 17px
}
TABLE.nowrap TD {
	WHITE-SPACE: nowrap
}
.slider {
	BACKGROUND-POSITION: 0px 0px; LEFT: 0px; BACKGROUND-IMAGE: url(../images/global/progress_bar/prog_bar_m_a.gif); WIDTH: 200px; CLIP: rect(0px 0px 15px 0px); BACKGROUND-REPEAT: repeat-x; POSITION: absolute; TOP: 0px; HEIGHT: 18px
}
.sliderWrapper {
	BACKGROUND-POSITION: 0px 0px; BACKGROUND-IMAGE: url(../images/global/progress_bar/prog_bar_m.gif); WIDTH: 200px; BACKGROUND-REPEAT: repeat-x; POSITION: relative; HEIGHT: 18px
}
.progressValue {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../images/global/progress_bar/prog_wrap_m.gif); PADDING-BOTTOM: 0px; WIDTH: 40px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.progressBar P {
	COLOR: #999999
}
.progressBar P.progressMsg {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #326a6a
}
.disabled {
	BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; BACKGROUND-COLOR: red; BORDER-RIGHT-COLOR: #cccccc
}
