.apptitle {font-family:Arial,Helvetica,sans-serif;font-size:28px;color:#000000;text-decoration:none;font-weight:bold;}
.apptitlechild {position:relative;top:4px;font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#003333;text-decoration:none;font-weight:bold;}
.apphinavpeer {font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#000000;text-decoration:none;font-weight:normal;}
.apphinavchild {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;text-decoration:none;font-weight:normal;}
.apphinavinactive {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#666666;text-decoration:none;font-weight:normal;}
.apphinavchildlink {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;text-decoration:underline;font-weight:normal;}
.appnavbutton {font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#000000;text-decoration:none;font-weight:normal;}
.appnavbuttoninactive {font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#666666;text-decoration:none;font-weight:normal;}
.appnavbuttonalt {font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#000000;text-decoration:none;font-weight:normal;}
.appnavbuttonlink {font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#ffffff;text-decoration:underline;font-weight:normal;}
.appnavcurrent {font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000000;text-decoration:none;font-weight:bold;}
.appnavtext {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;text-decoration:none;font-weight:normal;}
.appnavtextalt {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#003399;text-decoration:none;font-weight:normal;}
.appnavlink {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#003399;text-decoration:underline;font-weight:normal;}
.applink {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#003399;text-decoration:underline;font-weight:normal;}
.applabel {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;text-decoration:none;font-weight:normal;}
.apptitlerevlink {font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#ffffff;text-decoration:underline;font-weight:bold;}

.apps_tablecolor { background-color:#669999; }
.apps_tableheader { background-color:#336666; }
.apps_buttonprev { background-color:#669999; }
.apps_button_top { background-color:#99cccc; }
.apps_button_btm { background-color:#003333; }
.apps_buttonnext { background-color:#cccccc; }

.appstablecolor { background-color:#669999; }
.appstablecolornav { background-color:#669999; }
.appstablecolorinactive { background-color:#999999; }
.appstablecoloralt { background-color:#336666; }
.appstablecolorsecondary { background-color:#99cccc; }
.appstablecolortertiary { background-color:#cccccc; }
.appstableheader { background-color:#336666; }
.appsbuttonprev { background-color:#669999; }
.appsbuttontop { background-color:#99cccc; }
.appsbuttonbtm { background-color:#003333; }
.appsbuttonnext { background-color:#cccccc; }

