			<!-- End of Content Insertion Table -->
					</td>
				</tr>
				<tr>
					<td colspan="3"><img src="/swa/i/s.gif" width="1" height="5" alt="" border="0"></td>
				</tr>
<!-- END MAIN CONTENT TABLE -->
<tr>
	<td width="10" bgcolor="#ffffff"><img src="/swa/i/s.gif" width="10" height="1" alt="" border="0"></td>
	<td width="7" bgcolor="#336666" nowrap><img src="/swa/i/content_downleft.gif" width="7" height="8" alt="" border="0"></td>
	<td width="5" bgcolor="#336666"><img src="/swa/i/s.gif" width="5" height="1" alt="" border="0"></td>
	<td bgcolor="#336666"><!-- spacer graphic controls minimum width --><img src="/swa/i/s.gif" width="245" height="1" alt="" border="0"></td>
	<td width="28" bgcolor="#336666"><img src="/swa/i/s.gif" alt="" height="8" width="1" border="0"></td>
	<td bgcolor="#336666"><img src="/swa/i/s.gif" alt="" height="8" width="1" border="0"></td>
	<td width="16" bgcolor="#336666"><img src="/swa/i/s.gif" alt="" height="1" width="5" border="0"></td>
</tr>
<tr>
	<td width="10" bgcolor="#ffffff"><img src="/swa/i/s.gif" width="10" height="1" alt="" border="0"></td>
	<td width="7"><img src="/swa/i/s.gif" width="7" height="1" alt="" border="0"></td>
	<td colspan="2"><img src="/swa/i/s.gif" width="5" height="1" alt="" border="0"></td>
	<td width="28" bgcolor="#336666" valign="top" align="left"><img src="/swa/i/button_corner.gif" width="28" height="28" alt="" border="0" vspace="0" hspace="0"></td>
	<td bgcolor="#336666" align="right" valign="center" nowrap><img src="/swa/i/s.gif" width="3" height="1" alt="" border="0"><br>
<img src="/swa/i/s.gif" width="1" height="3" alt="" border="0"></td>
	<td bgcolor="#336666"><img src="/swa/i/s.gif" height="1" width="5" alt="" border="0"></td>
</tr>
</table>
<!-- BEGIN FOOTER TABLE -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr><td colspan="4"><img src="/swa/i/s.gif" width="1" height="17" alt=""></td></tr>
	<tr><td width="13"><img src="/swa/i/s.gif" width="13" height="1" alt=""></td>
		<td width="100%" class="featuretext" nowrap colspan="2"><a href="javascript:self.close();" class="secondarynav">Close Window</a></td>
		<td><img src="/swa/i/s.gif" width="14" height="1" alt=""></td></tr>
	<tr><td colspan="4"><img src="/swa/i/s.gif" width="1" height="4" alt=""></td></tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr bgcolor="#669999"><td background="/swa/i/popup_footer_pattern.gif"><img src="/swa/i/s.gif" width="13" height="1" alt=""></td>
		<td width="100%" colspan="2"><img src="/swa/i/s.gif" width="1" height="4" alt=""></td></tr>		
	<tr><td background="/swa/i/popup_footer_pattern.gif"><img src="/swa/i/s.gif" width="1" height="3" alt=""></td>
		<td width="100%"><img src="/swa/i/s.gif" width="1" height="1" alt=""></td>
		<td width="1"><img src="/swa/i/s.gif" width="1" height="1" alt=""></td></tr>
	<tr><td><img src="/swa/i/s.gif" width="1" height="1" alt=""></td>
		<td class="footertext" valign="top" width="100%" colspan="2">
		<span class="footertext">
		&copy; 1992-2002 Cisco Systems, Inc. All rights reserved. <A href="javascript:openLargePopup('/en/US/swassets/sw293/sitewide_important_notices.html','popuplarge');" class="footerlink">Important Notices</A>, 
		<A href="javascript:openLargePopup('/en/US/swassets/sw293/privacy_statement.html','popuplarge');" alt="" class="footerlink">Privacy Statement</A>, and 
		<A href="javascript:openLargePopup('/en/US/swassets/sw293/trademark_statement.html','popuplarge');" class="footerlink">Trademarks</A> of Cisco Systems, Inc.</span>
	</td></tr>
</table>
<!-- END FOOTER TABLE -->

