			<td width="13"><img src="/swa/i/s.gif" width="13" height="1" alt="" border="0"></td>
			</td>
		</tr>
	</table>
	<!-- end Text Block -->
<!--// end main content -->

<!--// FOOTER -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr><td colspan="4"><img src="/swa/i/s.gif" width="1" height="17" alt=""></td></tr>
	<tr><td width="13"><img src="/swa/i/s.gif" width="13" height="1" alt=""></td>
		<td width="100%" class="featuretext" nowrap colspan="2"><a href="javascript:self.close();" class="secondarynav">Close Window</a></td>
		<td><img src="/swa/i/s.gif" width="14" height="1" alt=""></td></tr>
	<tr><td colspan="4"><img src="/swa/i/s.gif" width="1" height="4" alt=""></td></tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr bgcolor="#669999"><td background="/swa/i/popup_footer_pattern.gif"><img src="/swa/i/s.gif" width="13" height="1" alt=""></td>
		<td width="100%" colspan="2"><img src="/swa/i/s.gif" width="1" height="4" alt=""></td></tr>		
	<tr><td background="/swa/i/popup_footer_pattern.gif"><img src="/swa/i/s.gif" width="1" height="3" alt=""></td>
		<td width="100%"><img src="/swa/i/s.gif" width="1" height="1" alt=""></td>
		<td width="1"><img src="/swa/i/s.gif" width="1" height="1" alt=""></td></tr>
	<tr><td><img src="/swa/i/s.gif" width="1" height="1" alt=""></td>
		<td valign="top" width="100%" colspan="2">
		<span class="footertext">
		&copy; 1992-2002 Cisco Systems, Inc. All rights reserved. <A href="javascript:openLargePopup('/en/US/swassets/sw293/sitewide_important_notices.html','popuplarge');" class="footerlink">Important Notices</A>, 
		<A href="javascript:openLargePopup('/en/US/swassets/sw293/privacy_statement.html','popuplarge');" alt="" class="footerlink">Privacy Statement</A>, and 
		<A href="javascript:openLargePopup('/en/US/swassets/sw293/trademark_statement.html','popuplarge');" class="footerlink">Trademarks</A> of Cisco Systems, Inc.</span>
		</td></tr>
</table>
<!--// END FOOTER -->

